//create a var for the sidebar width
$sidebarWidth: 350px;

.journal__main-content {
    display: flex;
    background-color: $orange;
}

.journal__sidebar{
    align-items: center;
    background-color: $primary;
    display: flex;
    color:white;
    flex-direction: column;
    height: 100vh;
    margin:0px;
    width: $sidebarWidth;
    padding-right: 10px;

}

.journal__sidebar-navbar{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    h3 {
        font-weight: 100;
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
    }
}

.journal__sidebar-navbar-user-image{
    height:30px;
    width:30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.journal__new-entry{
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    margin: 10px 0;
    transition: all 0.5s ease-in-out;
    width: 80%;
    height: 150px;
    &:hover p{
        // font-size: 18px;
        letter-spacing: 3px;
    }
    &:hover i{
        color: white;
        translate: 0px -5px;
        transform: translate(0px, -5px);

    }
    
    i{
        font-size: 55px;
        transition: transform 0.3s ease;
    }
    p{
        transition: all 0.3s ease;
        font-size: 15px;
        margin-top: 10px;
        text-transform: uppercase;
        
    }
}

/* Entry */
.journal__entries {
    display: flex;
    flex: 1 1  auto;
    flex-direction: column; 
    margin-top: 10px;
    margin-left:10px;
    width: 90%;    
    overflow-y: auto;

    &::-webkit-scrollbar{
        display: none;
    }
}

.journal__entry{
    align-items: center;
    display: flex;
    background-color: white;
    border-radius: 2px;
    color:$primary;
    justify-content: space-around;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    height: 75px;
    transition: border 0.3s ease, 
        background-color 0.3s ease,
        color 0.3s ease;
    &:hover{
        background-color: $secondary;
        color: white;
        border: 1px solid $orange;
        span{
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    


}
.journal__entry-picture{
    width: 75px;
    height: 70px;
    margin: 15px 5px;
    border-radius: 2px;
}

.journal__entry-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    p{
        text-align: right;
    }
}
.journal__entry-title{
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.journal__entry-content{
    font-size: 9px;
    margin-top: 10px;
    white-space: nowrap; 
    width: 100px; 
    overflow: hidden;
    text-overflow: ellipsis;
    

}
.journal__entry-date-box{
    align-items: center;
    font-size: 13px;
    color:$primary;
    display: flex;
    flex-direction: column;
    //10px to left and right
    padding: 0 8px;
}

.journal__entry-date-box p{
    color: $orange;
    margin: 0;
}