.link{
    text-decoration: none;
    color: $primary;
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
    transition: color 0.2s ease-in-out, font-size 0.3s ease-in-out, letter-spacing 0.2s ease-in-out;
    &:hover {
        color: $orange;
        font-size: 16px;
        letter-spacing: 1px;
    }
}